.progress{
    position: absolute;
    z-index: 200;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    /*position: relative;*/
    background: #c7c7c7;
    border-radius: 50%;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value{
    width: 83%;
    height: 83%;
    border-radius: 50%;
    background: #f3f3f3;
    font-size: 12px;
    color: #6b6b6b;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 8%;
}
.progress.blue .progress-bar{
    border-color: #6b6b6b;
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}



.container-resurces {
  position: absolute;
  z-index: 22;
  bottom: -37%;
  left: 50%;
  transform: translateX(-50%);
}

.add-product {
  transition: all 0.3s ease;
  background-color: #ff5252;
  height: 45px;
  width: 130px;
  line-height: 45px;
  font-family: mtavruli-normal;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.add-product.open {
  background-color: #FAFAFA;
  padding: 18px 32px;
  border-radius: 5px;
  width: 420px;
  height: 100px;
  cursor: default;
}
.add-product.open form {
  opacity: 1;
  transition: opacity 0.1s ease;
  transition-delay: 0.3s;
  height: auto;
}
.add-product .button-copy {
    text-align: center;
    font-weight: bold;
    color: #f7f7f7;
    font-size: 12px;
}
.add-product form {
  transition: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.add-product .cancel {
  font-size: 12px;
  text-align: center;
  margin-top: 1em;
}
.add-product .cancel span {
  cursor: pointer;
}
.add-product .cancel span:hover {
  text-decoration: underline;
}

.submit-button {
  display: block;
  background-color: #3498DB;
  height: 40px;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
  margin: 0 auto;
}
.submit-button img {
  position: relative;
  top: 3px;
  right: 6px;
}
.submit-button:hover {
  background-color: #217dbb;
  cursor: pointer;
}

.featured-note {
  color: #949494;
  font-size: 12px;
  margin: 4px 0px;
  line-height: 18px;
  font-style: italic;
}

form * {
  outline: none;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
}
label.emoji input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 21px;
  margin: 0;
  display: none;
}
label.emoji input + span:after {
  content: "😶";
  font-size: 18px;
  top: 2px;
  left: 2px;
  position: relative;
  height: 18px;
  display: inline-block;
}
label.emoji input:checked + span:after {
  content: "😀";
}

.form--field {
  width: 420px;
  margin: 10px 0;
}
.form--field.-short {
  width: 120px;
}

.form--price {
  position: absolute;
  line-height: 38px;
  width: 16px;
  color: #C7C7C7;
  text-align: center;
}
.form--price + input {
  padding-left: 14px;
}

.form--container {
  width: 420px;
}
.form--container.-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}

.form--element {
  background-color: #fff;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 4px;
  color: #3D3D3D;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.form--element:focus {
  border: 1px solid #FFC145;
  border-radius: 2px;
}
.form--element:not(.texteare) {
  height: 30px;
}
.form--element.textarea {
  height: 80px;
  resize: none;
}

::selection {
  background-color: #F5617A;
  color: #fff;
}

::-moz-selection {
  background-color: #F5617A;
  color: #fff;
}
