@import 'fonts.css';
@import 'scroll-down.css';
@import 'loading.css';
*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    /*position: relative;*/
    /*cursor: url(../img/circle2.png), url(../img/circle.jpg), auto;*/
}
/*#cursor-shadow{
  position: absolute;
  transform: translate(-25%, -35%);
  z-index: 9999;
  transition: .05s;
}*/

.loading-page{
    position: fixed;
    top: 0;
    left: 0;
    background: #ff5252;
    z-index: 20;
    right: 0;
    bottom: 0;
}
.load-shade{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-shade .bar-txt{
  font-size: 400px;
  color: rgba(255, 255, 255, 0.04)
}

#myProgress {
    width: 150px;
    position: absolute;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#myBar {
    background-color: #fff;
    height: 1px;
    width: 0;
    position: absolute;
}
#myBar-shade{
    background-color: rgba(255, 255, 255, .1);
    height: 1px;
    width: 100%;
    position: absolute; 
}
.bar-txt{
    color: white;
    font-family: mtavruli-normal;
    padding: 6px;
    font-size: 20px;
    /*position: absolute;*/
    /*z-index: 2222;*/
        display: block;
    width: 100%;
    text-align: center;
}


#cursor-shadow img{
  width: 30px;
  height: 30px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
}
.container{
  max-width: 84%;
}
.title{
  font-family: mtavruli-normal;
}
.text{
  font-family: DejaVuSerif;
}
.white{
  color: white;
}
.red{
  color: #ff5252;
}
.gray{
  color: #181818;
}
.mg-btm-15{
  margin-bottom: 15px;
}
.bold{
  font-weight: bold;
}

#triggers {
    position: absolute;
    height: 100%;
}
#triggers div {
    position: absolute;
}
#triggers #t1 {
    top: 0;
}
#triggers #t2 {
    top: 150%;
}
#triggers #t3 {
    top: 650%;
}
#triggers #t4 {
    top: 850%;
}
#triggers #t5 {
    top: 1350%;
}
#triggers #t6 {
    top: 1500%;
}
#triggers #t7 {
    top: 1750%;
}
#triggers #t8 {
    top: 1900%;
}

#fade-triggers {
  position: absolute;
  height: 100%;
}
#fade-triggers div {
    position: absolute;
}
#fade-triggers #fade1{
  top: 100%;
}
#fade-triggers #fade2{
  top: 420%;
}
#fade-triggers #fade3{
  top: 750%;
}
#fade-triggers #fade4{
  top: 1170%;
}
#fade-triggers #fade5{
  top: 1450%;
}
#fade-triggers #fade6{
  top: 1690%;
}
#fade-triggers #fade7{
  top: 1850%;
}

#rev1{
  position: absolute;
  top: 150%;
  z-index: 17; 
}
#rev2{
  position: absolute;
  top: 250%;
  z-index: 17; 
}
#rev3{
  position: absolute;
  top: 470%;
  z-index: 17; 
}
#rev4{
  position: absolute;
  top: 700%;
  z-index: 17; 
}
#rev5{
  position: absolute;
  top: 1000%;
  z-index: 17; 
}
#rev6{
  position: absolute;
  top: 1300%;
  z-index: 17; 
}
#rev7{
  position: absolute;
  top: 1500%;
  z-index: 17; 
}
#rev8{
  position: absolute;
  top: 1600%;
  z-index: 17; 
}
#rev9{
  position: absolute;
  top: 1700%;
  z-index: 17; 
}
#rev10{
  position: absolute;
  top: 1900%;
  z-index: 17; 
}
#rev11{
  position: absolute;
  top: 2000%;
  z-index: 17; 
}


#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.panel{
  width: 100%;
  position: absolute;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}


/*   section-1 Screen   */

.section-1{
  height: 100vh;
  z-index: 10;
  background-image: url('../img/1.png');
  background-size: cover;
  background-position: center;
}
.section-2{
  z-index: 9;
  height: 160%;
  background: #fff;
}
.section-3{
  height: 100vh;
  z-index: 8;
  background: #fff;
}
.section-4{
  height: 200%;
  z-index: 7;
  background: #fff;
}
.section-5{
  height: 100vh;
  z-index: 6;
  background: #fff;
}
.section-6{
  height: 200%;
  z-index: 5;
  background: #fff;
}
.section-7{
  height: 100vh;
  z-index: 4;
  background: #fff;
}
.section-8{
  height: 170%;
  z-index: 3;
  background: #fff;
}
.content{
  height: 100%;
  position: relative;
}
section.panel:last-child{
  box-shadow: none;
}

/* fadeouts */

.fadeout-section1{
  position: absolute;
  height: 100vh;
  bottom: -100%;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section2{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section-3{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section-4{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section-5{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section-6{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}
.fadeout-section-7{
  position: absolute;
  height: 100vh;
  background: black;
  width: 100%;
  opacity: 1;
}

/* Section 1 */

.section-1 .title{
  font-size: 220px;
  line-height: 215px;
  padding-top: 30vh;

}
.section-1 .text{
  width: 800px;
  margin: 0 auto;
  font-size: 13px;
}



.block-1,
.block-2,
.block{
  position: relative;
}


/* Section 2 */
.block-1-container{
  height: 40%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.block-2-container{
  height: 60%;
  display: flex;
  align-items: center;
}
.block-1{
  height: 460px;
}
.block-1:after{
  content: "";
  display: table;
  clear: both;
}
.block-1-container .shade-bg{
  position: absolute;
  bottom: -23%;
  left: -10%;
  right: 22%;
  top: 85px;
  background: #f5f5f5;
  background-image: url('../img/2.png');
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-1-container .shade-opacity{
  position: absolute;
  bottom: -23%;
  left: -10%;
  right: 22%;
  top: 85px;
  background: #f5f5f5;
  opacity: 0.95;
}
.block-1-container .shade-text{
  position: absolute;
  top: -17px;
  font-size: 120px;
  font-family: mtavruli-normal;
  z-index: -1;
  color: #f5f5f5;
  font-weight: bold;
  left: 6%;
}
.block-2-container .shade-text{
  position: absolute;
  top: -23px;
  font-size: 120px;
  font-family: mtavruli-normal;
  z-index: -1;
  color: #f5f5f5;
  font-weight: bold;
  right: 22%;
}
.block-1 .img-block{
  float: right;
  width: 31%;
  height: 100%;
  position: relative;
}
.block-1 .img-block .fade-image-1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ebebeb;
  bottom: 100%;
  z-index: 1;
}
.block-1 .image-cont{
  width: 100%;
  height: 0;
  float: left;
  overflow: hidden;
}
.block-1 .img>div{
  width: 100%;
  height: 100%;
  display: flex; 
  align-items:center; 
  justify-content:center; 
  overflow: hidden;
}
.block-1 .img img{
  min-width: 100%; 
  min-height: 100%;
  flex-shrink: 0;
}
.block-1 .text-container{
  width: 54%;
  text-align: left;
  float: left;
  padding-top: 14%;
  padding-left: 6%;
}
.block-1 .img-block .block-before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background: #ff5252;
  transform: translate(-20px, 20px);
}
.block-1 .img{
  height: 100%;
}



.block-2 .row{
  height: 100%;
}
.block-2 .row>div{
  padding: 0;
}
.block-2{
  position: relative;
  padding: 0 40px;
  height: 490px;
}
.block-2 .shade-bg{
  position: absolute;
  top: 15%;
  bottom: -20%;
  left: 15px;
  right: calc(8% + 15px);
  background-image: url('../img/3.png');
  background-position: 315% 26%;
  background-size: 88%;
  background-repeat: no-repeat;
}
.block-2 .shade-opacity{
  position: absolute;
  top: 15%;
  bottom: -20%;
  left: 15px;
  right: calc(8% + 15px);
  background: #f5f5f5;
  opacity: 0.95;
}
.block-2:after{
  content: "";
  display: table;
  clear: both;
}
.block-2 .img-block{
  float: left;
  width: 35%;
  height: 100%;
  position: relative;
}
.block-2 .img-block .img{
  height: 100%;
}
.block-2 .img-block .block-before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background: #ff5252;
  transform: translate(-20px, 20px);
}
.block-2 .img-block .fade-b{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ebebeb;
  bottom: 100%;
  z-index: 1;
}
.block-2 .image-cont{
  width: 100%;
  height: 0;
  float: left;
  overflow: hidden;
}
.block-2 .img>div{
  width: 100%;
  height: 100%;
  display: flex; 
  align-items:center; 
  justify-content:center; 
  overflow: hidden;
}
.block-2 img{
  min-width: 100%; 
  min-height: 100%;
  flex-shrink: 0;
}
.block-2 .text-container{
  float: left;
  margin-left: 11%;
  width: 33%;
  text-align: left;
  margin-top: 18%;
}








.section-3 .block{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 74%;
}
.section-3 .block .text-container{
  width: 32%;
  position: absolute;
  bottom: 26%;
  right: 7%;
  text-align: left;
}
.layer-photo{
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  width: 102%;
}

.section-4 .block-1-container .shade-bg{
  background-image: url('../img/5-bg.jpg');
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-4 .block-1-container{
  height: 35%;
}
.section-4 .block-1-container .text-container{
  padding-top: 16%;
}
.section-4 .block-2-container{
  height: 65%;
  align-items: flex-end;
  padding-bottom: 300px;
}
.block-unicode{
  height: 560px;
  position: relative;
}
.block-unicode>div{
  height: 100%;
}
.block-unicode .text-container{
  position: absolute;
  bottom: 1%;
  width: 77%;
  text-align: left;
}
.block-unicode .shade-bg{
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: -70;
  background: #f5f5f5;
}
.block-unicode .bg-red{
  position: absolute;
  top: 0;
  left: -10%;
  right: 8%;
  bottom: 41%;
  background: #ff5252;
}
.unicode{
  position: absolute;
}
.typewrite span{
  color: #fff;
  font-size: 220px;
}


.section-5 .block{
  height: 100vh;
}
.section-5 .block .text-container{
  text-align: left;
  width: 50%;
  padding: 0 5px;
}
.tabs-block{
  padding-top: 6%;
  overflow: hidden;
}
.tabs .nav{
  margin-bottom: 2%;
  margin-top: 5%;
}
.tab-content ul{
  margin: 0 -20px;
}
.tab-content ul:after{
  content: '';
  display: table;
  clear: both;
}
.tab-pane{
  position: relative;
}
.tab-head{
  position: absolute;
  right: 0;
  top: -50px;
  font-family: mtavruli-normal;
  color: #c1c1c1;
  font-size: 12px;
}
.tab-head b{
  font-size: 20px;
  color: #181818;
}
.tabs li a{
  padding: 10px 20px;
  display: inline-block;
  font-family: mtavruli-normal;
  font-size: 13px;
  background: #fff;
  margin: 0 5px;
  border-radius: 5px;
  color: #c1c1c1;
  border: 1px solid #c1c1c1;
  transition: .5s ease;
}
.tabs li a:hover{
  border-color: #ff5252;
  color: #ff5252;
}
.tabs li a.active{
  background: #ff5252;
  border-color: #ff5252;
  color: #fff;
}
.tabs li a:hover{
  text-decoration: none;
}
.inner-tab li {
  float: left;
  list-style-type: none;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}
.inner-tab li span{
  display: block;
}
.inner-tab li span:first-child{
  font-size: 30px;
  font-weight: 500;
  /*width: 61px;*/
  height: 47px;
}
.inner-tab li span:last-child{
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 500;
  font-family: DejaVuSerif;
}


.section-6 .block-marks{
  height: 50%;
  align-items: center;
}
.section-6 .block-2-container{
  height: 50%;
}
.section-6 .block-2 .text-container{
  margin-top: 13%;
}
.section-6 .block-marks-container{
  height: 45%;
  padding: 30px;
}
.marks{
  position: relative;
  height: 100%;
}
.mark-container-1,
.mark-container-2,
.mark-container-3,
.tags-container-1,
.tags-container-2{
  position: absolute;
}
.mark-container-1,
.mark-container-2,
.mark-container-3{
  opacity: 0;
}
.mark-container-1{
  top: -27%;
  right: 20%;
  z-index: 1;
}
.mark-container-2{
  bottom: 53%;
  right: 11%;
  z-index: 1;
}
.mark-container-3{
  top: -21%;
  right: 5%;
  z-index: 1;
}
.mark1{
  font-size: 550px;
  font-family: mtavruli-normal;
  color: rgba(255, 82, 82);
}
.mark2{
  font-size: 245px;
  font-family: mtavruli-normal;
  color: rgba(255, 82, 82, .1);
}
.mark3{
  font-size: 380px;
  font-family: mtavruli-normal;
  color: rgba(255, 82, 82, 0.84);
}
.mark-text-container{
  width: 39%;
  text-align: left;
  position: absolute;
  bottom: 23%;
  left: 5%;
}
.mark-bg{
  position: absolute;
  width: 60%;
  height: 70%;
  background: #f6f6f6;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.btn-url-def{
  padding: 10px 20px;
  display: inline-block;
  font-family: mtavruli-normal;
  font-size: 13px;
  background: #ff5252;
  margin: 0 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
.btn-url-def:first-child{
  margin-left: 0;
}
.btn-url-def:hover{
  color: white;
  text-decoration: none;
}
.download-font{
  position: relative;
  padding-left: 50px;
}
.download-font img{
  position: absolute;
  background: #c7c7c7;
  width: 39px;
  padding: 8px;
  left: -1px;
  top: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.section-7 .block{
  height: 100vh;
  background-position: 20% 80%;
  background-size: cover;
}
.section-7 .text-container{
  text-align: left;
  width: 37%;
  position: absolute;
  top: 13%;
  left: 7%;
}

.section-8 .block-1-container .shade-bg{
  background-image: url('../img/pic.png');
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-8 .block-1-container{
  height: 50%;
  align-items: flex-start;
}
.section-8 .block-2-container{
  height: 50%;
  padding-bottom: 6%;
}
.section-8 .block-1-container .text-container{
  padding-top: 14%;
}
.section-8 .block-2-container .text-container{
  margin-top: 13%;
}
.tags-container-1,
.tags-container-2{
  opacity: 0;
}
.tags-container-1{
  position: absolute;
  top: 12%;
  right: 2%;
  z-index: 1;
}
.tags-container-2{
  position: absolute;
  top: 62%;
  right: -1%;
  z-index: 1;
}
#tags-1 .tags1{
  font-size: 200px;
  font-family: mtavruli-normal;
  color: rgba(255, 82, 82);
}
#tags-2 .tags2{
  font-size: 100px;
  font-family: mtavruli-normal;
  color: rgba(255, 82, 82, .3);
}
.section-8 .block-2-container .shade-text{
      position: absolute;
    top: -11px;
    font-size: 110px;
    font-family: mtavruli-normal;
    z-index: -1;
    color: #f5f5f5;
    font-weight: bold;
    right: 27%;
}









.tabs-wrapper{
  text-align:center;
  display: inline-block;
  font-size: 12px;
  float: left;
  margin-bottom: 1%;
  margin-top: 2%;
  margin-left: -20px;
}
.tabs-navigation{
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  position:relative;
}
.tabs-navigation a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  /*padding:10px 20px;*/
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
  font-family: mtavruli-normal;
  font-size: 12px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.tabs-navigation a.active{
  color:#fff;
}
.tabs-wrapper a.active:hover{
 color:#fff!important; 
}
.tabs-navigation a i{
  margin-right:5px;
}
.tabs-navigation .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background:rgba(255, 82, 82);
}
.tabs{
  float: left;
}
.progress.bottom{
  cursor: pointer;
}


/* button animation */
.skew-button {
  cursor: pointer;
  outline: none;
  /*-webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);*/
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  font: 12px mtavruli-normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ff5252;
}
.skew-button span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 35px;
  z-index: 3;
}
.skew-button:before,
.skew-button span:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*width: 99%;
  height: 50px;*/
  width: 97%;
  height: 40px;
  border: 1px solid #ff5252;
  z-index: 2;
  box-sizing: unset;
}
.skew-button span:before {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-indeX: -1;
}
.skew-button:after {
  transition: all 100ms ease-out;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 82, 82, 0.8);
  border: 1px solid transparent;
  z-index: 1;
}
.skew-button:hover span:before {
  -webkit-animation: fill .5s ease-out;
          animation: fill .5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.skew-button:hover:after {
  -webkit-animation: swoosh .7s ease-in;
          animation: swoosh .7s ease-in;
}

@-webkit-keyframes swoosh {
  0% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  20% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  21% {
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@keyframes swoosh {
  0% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  20% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  21% {
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}
@-webkit-keyframes fill {
  20% {
    opacity: .5;
    border-width: 15px;
  }
  100% {
    opacity: .5;
    border-width: 1px;
  }
}
@keyframes fill {
  20% {
    opacity: .5;
    border-width: 15px;
  }
  100% {
    opacity: .5;
    border-width: 1px;
  }
}










.image-anim{
  animation: 1.5s 0.5s image-animation-fade cubic-bezier(0.68, 0.01, 0, 0.99) forwards;
}
.image-anim-fade-in{
  animation: 1.5s 0.5s image-animation-fade-in cubic-bezier(0.68, 0.01, 0, 0.99) forwards;
}
.image-scale{
  animation: 2s 1.7s image-scale ease forwards;
}
.image-before{
  animation: 2s image-before cubic-bezier(0.68, 0.01, 0, 0.99) forwards;
}
.fade-paralax-in{
  animation: 4s 1s fade-paralax-in ease forwards;
}
.scroll-down-fade{
  animation: 2s scrolldownfade ease forwards; 
}


@keyframes scrolldownfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes image-animation-fade {
    0% {
      bottom: 100%
    }
    60%{
      top: 0%;
    }
    100% {
      top: 100%;
      bottom: 0;
    }
}
@keyframes image-animation-fade-in {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
}
@keyframes image-scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
}
@keyframes image-before {
    0% {
      bottom: 100%;
    }
    100% {
      bottom: 0;
    }
}
@keyframes typeline-animation{
  0% {
    border-right: 8px solid #fff;
  }
  50% {
    border-right: 8px solid transparent;
  }
  100% {
    border-right: 8px solid #fff;
  }
}

@keyframes fade-paralax-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-loading{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



@media only screen and (max-width: 1700px){
  .section-2{
    height: 190%;
  }
  .section-4{
    height: 190%;
  }
  .section-4 .block-2-container{
    padding-bottom: 250px;
  }
}

@media only screen and (max-width: 1600px){
  .block-2{
    height: 420px;
  }
  .section-4 .block-1 .shade-bg,
  .section-4 .block-1 .shade-opacity {
    bottom: -15%;
  }
  .section-4 .block-2-container{
    padding-bottom: 150px;
  }
  .section-7 .text-container{
    top: 10%;
  }
}

@media only screen and (max-width: 1500px){
  .section-1 .title{
    font-size: 180px;
    line-height: 175px;
  }
  .section-1 .text{
    width: 575px;
  }
  .title{
    font-size: 20px;
  }
  .text{
    font-size: 12px;
  }
  .block-1-container .shade-opacity,
  .block-1-container .shade-bg{
    bottom: 0;
  }
  .block-1 .text-container{
    padding-top: 15%;
  }
  .block-2{
    height: 380px;
  }
  .typewrite span{
    font-size: 170px;
  }
  .block-unicode .bg-red{
    bottom: 54%;
  }
  .block-unicode .text-container{
    bottom: 20%;
  }
  .block-unicode .shade-bg{
    bottom: 8%;
  }
  .section-4 .block-2-container{
    padding-bottom: 70px;
  }
  .mark-container-1{
    bottom: -5%;
  }
  .mark-container-2{
    bottom: 43%;
  }
  .mark-container-3{
    bottom: 18%;
  }
  .mark1{
    font-size: 400px;
  }
  .mark2{
    font-size: 200px;
  }
  .mark3{
    font-size: 300px;
  }
    .tabs-block{
    padding-top: 2%;
  }
  .section-5 .block .text-container{
    margin: 0 -20px;
  }
  .tab-content ul{
    margin: 0 -28px;
  }
  .tabs .nav{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -20px;
    margin-right: -20px;
  }
  .inner-tab li{
    padding: 6px 15px;
  }
  .inner-tab li span:first-child{
    width: 41px;
    font-size: 23px;
    height: 35px;
  }
  .inner-tab li span:last-child{
    font-size: 11px;
  }
  #tags-1 .tags1{
    font-size: 135px;
  }
  #tags-2 .tags2{
    font-size: 75px;
  }
  .block-2 .text-container{
    margin-top: 20%;
  }
  .section-4 .block-1-container .text-container{
    padding-top: 19%;
  }
  .section-6 .block-2 .text-container{
    margin-top: 14%;
  }
  .section-8 .block-2-container .text-container{
    margin-top: 17%;
  }
  .section-8 .block-1-container .text-container{
    padding-top: 17%;
  }
  .tabs-wrapper{
    margin-top: 1%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1366px){
 .section-2{
  height: 220%;
 }
 .section-4{
  height: 220%;
 }
 .block-1-container .shade-text{
    font-size: 100px;
    top: 0;
  }
  .block-2-container .shade-text{
    font-size: 100px;
    top: -26px;
    right: 19%;
  }
  .block-1 .text-container{
    padding-top: 17%;
  }
  .block-1 .img-block{
    width: 34%;
  }
  .section-4 .block-1 .shade-bg,
  .section-4 .block-1 .shade-opacity{
    bottom: -4%;
  }
  .section-8 .block-2-container .shade-text{
    top: 6px;
    font-size: 70px;
    right: 33%;
  }

}

@media only screen and (max-width: 1280px){
  .section-2{
    height: 190%;
  }
  .section-4{
    height: 190%;
  }
  .section-1 .title{
    font-size: 140px;
    line-height: 175px;
  }
  .section-1 .text{
    width: 575px;
  }
  .title{
    font-size: 20px;
  }
  .text{
    font-size: 12px;
  }
  .block-2{
    height: 340px;
  }
}

@media only screen and (max-width: 1124px){
  .section-2{
    height: 220%;
  }
  .section-4{
    height: 220%;
  }
  .block-1-container .shade-text{
    font-size: 80px;
    top: 16px;
  }
  .block-1{
    height: 425px;
  }
  .block-1 .img-block{
    float: right;
    width: 35%;
    height: 82%;
    position: relative;
    top: 5%;
  }
  .block-1 img{
    width: 100%;
  }
  .block-2{
    height: 290px;
  }
  .block-2 img{
    width: 100%;
  }
  .block-1-container{
    height: 50%;
  }
  .block-2-container{
    height: 50%;
  }
  #revContainer-2{
    top: 300%;
  }
  .typewrite span{
    font-size: 120px;
  }
  .unicode{
    margin-top: 30px;
  }
}

/*@media only screen and (max-width: 991px){
  .block-1 .img-block{
    height: 30vw;
  }
  .title{
    font-size: 18px;
  }
  .text{
    font-size: 11px;
  }
  .block-1-container .shade-text{
    font-size: 60px;
    top: 35px;
    left: 10px;
  }
  .block-1 .text-container{
    padding-left: 0;
    padding-top: 24%
  }
  .block-1 .img-block{
    top: 33%;
  }
  .block-2{
    height: unset;
    padding: 0;
  }
  .block-2 .shade-opacity,
  .block-2 .shade-bg{
    right: 0;
  }
  .block-2 .img-block{
    height: 35vw;
  }
  .paralax-history-image{
    bottom: -1%!important;
  }
  .section-4 .block-1-container .text-container{
    padding-top: 33%;
  }
  .section-4 .block-1-container{
  }
  .block-1-container{
    align-items: center;
  }
*/
@media only screen and (max-width: 991px){
  html, body{
    height: unset;
  }
  .title{
    font-size: 16px;
  }
  .text{
    font-size: 11px;
  }
  section.panel{
    position: unset;
    box-shadow: none;
  }
  .block-2-container{
    margin-bottom: 100px;
  }
  .panel.section-2,
  .block-1-container,
  .block-1,
  .block-2,
  .block-2-container{
    height: auto!important;
  }
  .block-1-container{
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .block-1 .img-block,
  .block-2 .img-block{
    height: unset;
  }
  .section-3 .block,
  .section-3{
    height: 500px;
  }
  .fadeout-section1,
  .fadeout-section2,
  .fadeout-section-3,
  .fadeout-section-4,
  .fadeout-section-5,
  .fadeout-section-6,
  .fadeout-section-7{
    display: none;
  }
  .block-1, 
  .block-2{
    max-width: 100%;
  }
  .image-cont{
    height: 100%;
  }
  .block-1 .image-cont,
  .block-2 .image-cont{
    height: 100%;
  }
  .block-1 .img-block .block-before,
  .block-2 .img-block .block-before{
    bottom: 0;
  }
  .block-1 .img img,
  .block-2 img{
    transform: scale(1);
  }
  .block-1 .text-container{
    padding-top: 18%;
    padding-bottom: 5%;
  }
  .section-4 .block-2-container{
    padding-bottom: 35px;
  }
  .section-8 .block-2-container .shade-text{
    top: 0;
  }
  .block-2 .text-container{
    margin-top: 19%;
  }
  .panel:not(.section-1){
    background: transparent;
  }
  .section-2 .block-2-container{
    margin-bottom: 22%;
  }
  .section-3 .block .text-container{
    bottom: 19%;
  }
  .typewrite span{
    font-size: 80px;
  }
  .block-unicode .bg-red{
    bottom: 65%;
  }
  .block-unicode .text-container{
    bottom: 24%;
    left: 15%;
  }
  .tab-head{
    display: block;
    text-align: left;
    position: unset;
    margin: 15px -15px;
  }
  .section-5 .block{
    height: unset;
  }
  .section-6 .block-2 .text-container{
    width: 46%;
  }
  .block-2-container .shade-text{
    font-size: 90px;
    top: -23px;
    right: 19%;
  }
  .skew-button span{
    padding: 20px 16px;
    font-size: 11px;
  }
  .section-7{
    height: 55vw;
    overflow: hidden;
  }
  .section-7 .text-container{
    width: 64%;
  }
  .section-7 .block{
    height: 100%;
  }
  .section-8 .block-2-container{
    padding-left: unset;
  }
  .tags-container-1, .tags-container-2{
    opacity: 1;
  }
  #tags-1 .tags1{
    font-size: 80px;
  }
  #tags-2 .tags2{
    font-size: 55px;
  }
  .section-8 .block-2-container .text-container{
    margin-left: 7%;
    margin-top: 16%;
    width: 44%;
  }
  .tags-container-1{
    top: 21%;
  }
  .section-8 .block-2-container{
    padding-bottom: unset;
    margin-top: 5%;
    margin-bottom: 9%;
  }
  .section-8 .block-2-container .shade-text{
    top: 5px;
    right: 27%;
    font-size: 50px;
  }
  .mark-container-1, .mark-container-2, .mark-container-3{
    opacity: 1;
  }
  .mark1{
    font-size: 300px;
  }
  .mark3{
    font-size: 200px;
  }
  .mark2{
    font-size: 100px;
  }
  .mark-container-2{
    bottom: 59%;
    right: 14%;
  }
  .mark-container-1{
    top: -11%;
  }
  .mark-container-3{
    top: 0;
  }
  .section-5{
    height: unset;
    margin-bottom: 100px;
  }
  .section-6 .block-2-container{
    margin-bottom: 150px;
  }
  .section-1 .title .block-revealer__content{
    opacity: 1!important;
    font-size: 100px;
  }
  .section-1 .block-revealer__content{
    opacity: 1!important;
    font-size: 11px;
  }
  .progress{
    display: none;
  }
}

@media only screen and (max-width: 768px){
  .loading-page{
    display: none;
  }
  .inner-tab{
    width: auto;
    margin: 0 auto;
  }
  .section-1 .title{
    line-height: 0px!important;
  }
  .section-1 .title .block-revealer__content{
    font-size: 70px;
    line-height: 60px;
  }
  .section-1 .text{
    width: 67%;
  }
  .shade-text,
  .shade-bg,
  .shade-opacity{
    display: none;
  }
  .block-1 .img-block,
  .block-2 .img-block{
    text-align: center;
    width: 53%;
    float: unset;
    display: block;
    margin: 0 auto;
    top: 0;
    height: 49vw;
  }
  .block-1 .text-container,
  .block-2 .text-container{
    float: unset;
    display: inline-block;
    padding: 60px 20px 20px;
    width: 100%;
    text-align: left;
    background: #f5f5f5;
    margin-top: -20px;
  }
  .section-2 .block-2-container{
    padding-left: 0;
  }
  .block-2 .text-container{
    margin-left: 0;
  }
  .section-3 .block{
    background: transparent!important;
    height: unset;
  }
  .panel.section-3{
    height: unset;
  }
  .layer-photo{
    bottom: 24px;
    width: 103%;
  }
  .layer-photo{
    position: unset!important;
  }
  .paralax-history-image{
    position: unset!important;
  }
  .section-3 .text{
    color: #181818;
  }
  .section-3 .text-container{
    position: unset!important;
    width: 100%!important;
    text-align: center!important;
    padding: 20px;
  }
  .section-3 .block .text-container{
    background: whitesmoke;
    margin: 0 15px;
    width: 95%!important;
    text-align: left!important;
  }
  .section-4 .block-1-container .text-container {
      padding-top: 60px;
  }
  .section-4 .block-2-container,
  .section-6 .block-2-container{
    padding-left: 0;
  }
  .block-unicode{
    padding: 0px;
    max-width: 100%;
    margin: 0 15px;
  }
  .block-unicode .bg-red{
    left: 10px;
    right: 10px;
    bottom: 52%;
  }
  .block-unicode{
    height: unset;
    min-height: 420px;
    margin-bottom: 10%;
  }
  .unicode{
    width: 95%;
  }
  .block-unicode .text-container{
    text-align: center;
    background: whitesmoke;
    padding: 40px 20px 20px;
    left: 15px;
    right: 15px;
    width: unset;
    bottom: unset;
    top: 183px;
    z-index: -1;
    text-align: left;
  }
  .section-4 .block-2-container{
    margin-bottom: 0;
  }
  .block.container.tabs-block{
    max-width: 92%;
    padding: 0;
  }
  .section-5 .block .text-container{
    width: 100%;
  }
  .tabs-navigation a{
    width: 115px;
  }
  .tabs-wrapper{
    margin-left: 0;
  }
  .section-5 .block .text-container{
    margin: 0;
  }
  .tab-head{
    margin: 15px 0;
  }
  .tab-content ul {
    margin: 20px -10px;
  }
  .section-6 .block-2 .text-container{
    width: 100%;
    margin-top: -15px;
  }
  .mark-container-1, .mark-container-2, .mark-container-3{
    display: none;
  }
  .section-6 .block-2-container{
    margin-bottom: 100px;
  }
  .section-7-mobile-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(82, 82, 82, 0.6);
  }
  .tags-container-1, .tags-container-2{
    display: none;
  }
  .section-8 .block-2-container .text-container{
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }
  .section-8 .block-1-container .text-container{
    padding-top: 55px;
  }
  .section-8 .block-1-container{
    margin-top: 0;
  }
  .tabs-navigation .selector{
    display: none;
  }
  .tabs-navigation a.active{
    background: rgba(255, 82, 82);
  }
  .section-7 .text-container{
    width: 87%;
  }
  .section-8 .block-2-container{
    margin-top: 9%;
    margin-bottom: 11%;
  }
  .resources.open{
    /*width: 120%;*/
    height: 240px;
    padding: 20px 32%;
  }
  .resources-inner a{
    padding: 0;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .resources .cancel{
    margin: 10px 0;
  }
  .section-8 .block-2{
    padding: 0 30px;
  }
}


@media only screen and (max-height: 750px){
  .tabs-wrapper{
    margin-bottom: 1%;
  }
  .inner-tab li span:first-child{
    font-size: 18px;
    height: 24px;
  }
  .inner-tab li span:last-child{
    font-size: 10px;
  }
  .block-1-container{
    height: 45%;
  }
  .block-2-container{
    padding-left: 50px;
  }
  .section-4 .block-1-container{
    height: 42%;
  }
  .section-4 .block-2-container{
    height: 58%;
  }
  .block-unicode .shade-bg{
    min-height: 500px;
  }
  
}
@media only screen and (max-width: 510px){
  .tabs-wrapper{
    width: 100%;
  }
  .tabs-navigation a{
    width: 49%
  }
}
@media only screen and (max-width: 460px){
  .section-1 .title .block-revealer__content{
    font-size: 50px;
  }
  .typewrite span{
    font-size: 60px!important;
  }
  .block-unicode .bg-red{
    bottom: 64%;
  }
  .block-unicode .text-container{
    top: 135px;
  }
  .section-7{
    height: 87vw;
  }
  .section-3 .block .text-container{
    width: 93%!important;
  }
  .buttons-cont{
    text-align: center;
  }
  .btn-1{
    margin: 0!important;
  }
  .btn-2 span{
    padding: 20px 29px;
  }
}

@media only screen and (max-width: 360px){
  .section-4 .block-2-container{
    padding-bottom: 80px;
  }
  .section-3 .block .text-container{
    width: 91%!important;
  }
}